table{
    width:100%;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
.head{
    background-color: grey;
}
.head:hover{
    background-color: yellow;
}
.trow:nth-child(even){
    background-color: green;
}
.trow:hover:nth-child(even){
    background-color: indigo;
}